@import "variables.scss";

.dashboard {
  display: flex;
  justify-content: center;
}

.widgets-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.widget {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  margin: 14px;
  padding: 30px;
  border-radius: 5px;
  max-width: 950px;

  &.share {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &.activity {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      font-weight: 200;
    }
    .donation {
      padding-top: 15px;
      padding-bottom: 15px;
      width: 100%;
      border-top: 1px solid $primary;
    }
  }
  h1 {
    font-weight: 200;
    line-height: 1.5em;
    a {
      text-decoration: none;
      color: lighten($primary, 30%);
      &:hover {
        border-bottom: 1px solid lighten($primary, 30%);        
      }
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.progress-bar {
  position: relative;
  border: 1px solid $dark;
  border-radius: 5px;
  overflow: hidden;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  .progress-bar-inner {
    background-color: $primary;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    transition: width .4s ease;
    overflow: hidden;
    .progress-bar-inner-text {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;    
      display: flex;
      color: white;
    }
  }
  .progress-bar-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
    align-items: flex-start;
  }
  .amount {
    font-size: 36px;
    font-weight: 500;
  }
  .collected {
    font-variant: small-caps;
  }
}
.at-oauth{
  text-align: center;
  position: relative;
}

.at-social-btn{
  position: relative;
  font-variant: small-caps;
  font-weight: 300;
  font-size: 16px;
  height: 50px;
  width: 200px;
  text-align: center;
  background-color: transparent;
  padding: 8px;
  margin:5px;


  border: 2px solid white;
  text-decoration: none;

  &.primary {
    background-color: white;
    color: $primary;
  }
}
.at-pwd-form {
  position:relative;
  text-align: center;
}
.at-pwd-form label {
  display: none;
}
.at-pwd-form input {
  margin-top:10px;
  background:transparent;
  border:none;
  box-shadow: none;
  border-bottom: 1px solid white;
  padding-bottom:0px;
  border-radius: 0px;
  padding-left:0px;
  color:white;
}

.at-pwd-form input:click {
  border:none;
  box-shadow: none;
}

.at-pwd-form ::-webkit-input-placeholder {
  color: white;
}
.at-title{
  color: white;
  text-align: center;
  font-variant: small-caps;
}

.at-sep{
  display:none;
}

.at-signin-link {
  position: relative;
  text-align: center;
  width: 100%;
  color: white;
}

.at-btn {
  position: relative;
  font-variant: small-caps;
  font-weight: 300;
  font-size: 16px;
  height: 50px;
  width: 200px;
  text-align: center;
  background-color: transparent;
  padding: 8px;
  margin:15px;
  color:white;
  border: none;


  text-decoration: none;

  &.primary {
    background-color: white;
    color: $primary;
  }
}

.at-error{
  color: pink;
  text-align: center
}

.at-signin {
  color:lightblue;
}

.at-signup-link {
  text-align: center;
  color:white;
}
 .whyamiup{
  text-align: center
 }

 .whyamiup input{
  margin: 5px;
 }

 .whyamiup button{
  display: inline;
  background-color: white
 }