<template name="contribute">
	<div class="widget">
		<h1>Donate to help build this computer!</h1>
		<div class="whyamiup">
			<input type="text" id="name" placeholder="Name">
			<input type="text" id="card-num" placeholder="Credit Card">
			<input type="text" id="cvc" placeholder="CVC">
			<input type="text" id="exp-month" placeholder="Exipration Month">
			<input type="text" id="exp-year" placeholder="Expiration Year">
			<input type="text" id="amount" placeholder="Amount">
			<button id="submit-payment" class="button tertiary">SUBMIT</button>
		</div>
	</div>
</template>