<template name="home">
<html>
<body>

<div class="hero">
  <div class="login-wrapper">{{>loginButtons align="right"}}</div>
  <h1>PC Registry</h1>
  <h4>Fund your next computer.</h4>
  <div class="buttons">
    <div class="button secondary scrolldown" id="how-it-works-button">how it works</div>
    <a href="/signup" class="button primary" id="get-started-button">get started</a>
  </div>
</div>

<div class="how-it-works">
  <div class="instruction">
    <div class="number-wrapper">
      <span class="number">1</span>
    </div>
    <div class="tip">Choose your computer</div>
    <hr>
    <div class="blurb">Choose which computer you want to build from our selection. We'll help you compare power, features, and cost.</div>
  </div>
  <div class="instruction">
    <div class="number-wrapper">
      <span class="number">2</span>
    </div>
    <div class="tip">Share the link</div>
    <hr>
    <div class="blurb">Once you've selected your computer, we'll give you a link to send out to friends, family, and fans, that they can use to contribute money to your build.</div>
  </div>
  <div class="instruction">
    <div class="number-wrapper">
      <span class="number">3</span>
    </div>
    <div class="tip">Get your parts</div>
    <hr>
    <div class="blurb">Once you've collected enough money to fund your build, we'll purchase and order your parts for you automatically, and they'll show up at your door.</div>
  </div>
</div>

</body>
<footer></footer>
</html>
</template>