<template name="order">
	<div class="widget order">
		<h1>Order your parts!</h1>
		<input type="text" id="first-name" placeholder="First name">
		<input type="text" id="last-name" placeholder="Last name">
		<input type="text" id="address-1" placeholder="Street Address">
		<input type="text" id="address-2" placeholder="Address #2">
		<input type="text" id="zip-code" placeholder="Zip code">
		<input type="text" id="city" placeholder="City">
		<input type="text" id="state" placeholder="State">
		<input type="text" id="country" placeholder="Country">
		<input type="text" id="phone-number" placeholder="Phone number">
		<div id="submit-order" class="button tertiary">SUBMIT ORDER</div>
	</div>
</template>