<template name="register">
  <div class="register">
    {{>select_build}}
<!--
    <div class="create-account">
      {{>atPwdForm}}
    </div>
 -->
    <div class="create-account">
      {{>atForm}}
    </div>
  </div>
</template>

<template name="select_build">
  <h3>choose your target build</h3>
  <div class="builds">
  {{>build}}
  {{>build}}
  {{>build}}
  {{>build}}
  </div>
</template>

<template name="build">
  <div class="build">
    <div class="build-inner">
      <div class="case-wrapper">
        <img src="case.png" alt="" class="case">
      </div>
      <div class="specs">
        <div class="spec">
          <div class="price">$600</div>
        </div>
        <div class="spec">
          <span class="left">CPU</span>
          <span class="right">Intel Core i3</span>
        </div>
        <div class="spec">
          <span class="left">GPU</span>
          <span class="right">AMD R9 380</span>
        </div>
        <div class="spec">
          <span class="left">Motherboard</span>
          <span class="right">Gigabyte ATX</span>
        </div>
        <div class="spec">
          <span class="left">Memory</span>
          <span class="right">8GB</span>
        </div>
        <div class="spec">
          <span class="left">Power Supply</span>
          <span class="right">550W</span>
        </div>
      </div>
    </div>
    <div class="button tertiary select">select</div>
  </div>
</template>